@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Account</h2>

<ul>
    <li><a href="#">Activate Do Not Disturb</a></li>
    <li><a href="#">Manage Caller Tunes</a></li>
    <li><a href="/Recharge/OnlineRecharge">Recharge Mobile</a></li>
    <li><a href="#">Edit Personal Details</a></li>
    <li><a href="/Recharge/PostPaid">Post Paid Bill Payment</a></li>
</ul>
