@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Care</title>

</head>
<body>
    <div class="care-container">
        <h1>📞 Customer Care</h1>
        <p>
            Welcome to our Customer Care page. We're here to help you with any issues, complaints,
            or questions you may have. Our goal is to ensure you get the best service experience possible.
        </p>

        <div class="contact-options">
            <a href="mailto:care@yourdomain.com">📧 Email Care Team</a>
            <a href="tel:+97412345678">📱 Call Us</a>
        </div>
    </div>
</body>
</html>
